/**
* @name NoShop
* @description This theme removes all shop items from Discord.
* @author qxxst
* @website https://github.com/qxxst/NoShop
* @version 1.2
* @authorLink https://github.com/qxxst
*/

/* Removes shop items */
[class*="avatarDecoration"] {
  display: none;
}

[class*="profileEffect"] {
  display: none;
}

/* Removes advertisements */
[class*="shopForAllWinterBackground"] {
  display: none;
}

[data-list-item-id="private-channels-uid_241___shop"] {
  display: none;
}

[class*="shopForAllBackgroundImage"] {
  display: none;
}

.channel_c21703 [data-list-item-id="private-channels-uid_11769___shop"] {
  display: none;
}